html, body {
    height: 100%;
    width: 100%;

    margin: 0;

    overflow: auto;

    font-family: 'Roboto, sans-serif';
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: block;
    background-image: url('background.png');
    background-size:cover;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

body {
    overflow: auto;
    position: relative;
}

.wrap {
    padding: 10px 20px 0px 20px;

}


/* https://stackoverflow.com/questions/202557/what-is-the-best-absolute-width-for-a-webpage 
   https://stackoverflow.com/questions/20039765/how-to-apply-a-css-3-blur-filter-to-a-background-image */

#main-navigation-wrapper {
    overflow: auto;

    z-index: 10;

    /*height: 70px;*/
    width: 90%;
    max-width: 960px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    border: 1px solid grey;
    border-radius: 5px 5px 0 0;

    background-color: white;

    -webkit-box-shadow: 6px 10px 34px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 10px 34px 0px rgba(0,0,0,0.47);
    box-shadow: 6px 10px 34px 0px rgba(0,0,0,0.47);

}                                       

#main-content-wrapper {
    position: relative;
    overflow: auto;

    z-index: 10;

    /*height: 100%;*/
    min-height: 750px;
    width: 90%;
    max-width: 960px;

    /*text-align: justify;*/
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 50px;

    border: 1px solid grey;
    border-radius: 0 0 5px 5px;

    background-color: white;

    -webkit-box-shadow: 6px 10px 34px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 10px 34px 0px rgba(0,0,0,0.47);
    box-shadow: 6px 10px 34px 0px rgba(0,0,0,0.47);
    
}



/* navigation bar */
/* http://css-snippets.com/simple-horizontal-navigation/ */

.nav ul {
    list-style: none;
    background-color: #1b95e0;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-size: 1.1em;
    line-height: 40px;
    height: 100%;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
}

.nav a:hover {
    text-decoration: none;
    background-color: #fff;
    color: black;
}

.nav a.active {
    background-color: #fff;
    text-decoration: none;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    .nav li {
        width: 130px;
        border-bottom: none;
        height: 100%;
        line-height: 50px;
        font-size: 1.1em;
    }

    .nav li {
        display: inline-block;
        margin-right: -4px;
    }
}

footer {
    font-size: 0.8em;
    /*position: absolute;*/
    position: relative;
    bottom: 0;

    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    width: 100%;

    text-align: center;

    background-color: #efefef;

}

footer a {
    text-decoration: none;

    color: #0066ff;
}

footer p {
    margin: 5px 0 0 0;
}

@media screen and (max-width: 965px) {
    footer {
        position: relative;
    }
}

.media-content {
    margin: 10px 0 35px 0;
    padding: 2px 0 2px 0;
    max-height: 30px;
}

.media-button {
    margin: 0 5px 0 5px;
    display:inline-block;
    border:0;
    width:50px;
    height:50px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.media-button-img {
    width: 100%;
    height: 100%;
}

.media-button:hover {
    /* box-shadow: 0px 0px 10px #000000; */
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

/* contact modal */
.contact-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    /* Add the blur effect */
    z-index: 1000;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 550px;
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact-modal h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
}

/* contact form */
.contact-modal input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}

.contact-modal input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-modal input[type=submit]:hover {
    background-color: #45a049;
}
  
.contact-modal .container {
    width:100%;
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 20px;
}