html, body {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

body {
    z-index: 1000;
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    top: 0;
    height: 50px;
    background-color: #22333B;
}

#graph-header {
    width: 100%;
    top: 0;
    height: 50px;
}

footer {
    width: calc(100% - 10px);
    bottom: 0;
    left: 0;
    /*margin-top: 50px;*/
    margin: 20px 0px 0px 0px;
    height: 8%;
    max-height: 400px;
    min-height: 120px;
    overflow: hidden;
    border-top : 1px solid #DDD;
    font-size: 12px;
}

footer p {
    font-family: 'Roboto', sans-serif;
    margin: 0.575em 0 0.575em 0;
    font-size: 1.00em;
}

a {
    text-decoration: none;
    color: #0066ff;
} 

footer a {
    text-decoration: none;
    color: #0066ff;
}


#data-info {
    /*height: 89px;*/
    z-index: 1000;
    overflow: auto;
    margin: 0px 10px 0px 30px;
    padding: 0 0 5px 0;

    position: fixed;
    top: 0px;
}

.ui-widget.ui-widget-content {
    z-index: 1000;
}

#data-info p {
    font-family: 'Roboto', sans-serif;
    margin: 5px 15px 5px 15px;
    font-size: 12px;
    font-weight: bold;
}

#data-info-left {
    float: left;
    height: 100%;
    width: 50%;
    background-color: white;
    opacity: 0.65;
    text-align: right;
}

#data-info-right {
    float: right;
    height: 100%;
    width: 50%;
    color: white;
    text-align: left;
}

#toggle-data-content-select {
    width: 100%;
    margin: 10px 0 3px 0;
}

#data-content-select {
    margin-top: 0px;
    background-color: white;
    width: 100%;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

#select-wind-parameter, #select-radar-parameter  {
    width: 200px;
}

.ui-widget-content a {
    color: #0066ff;
}

.symbol {
    height: 50px;
    width: 50px;
}

#main-text-area {
    display:inline-block;
    height: 53%;
    min-height: 300px;
    font-family: 'Lato', sans-serif;
    margin: 20px 30px 20px 10px;
    font-size: 1.15em;
    /*background-color: #22333B;*/
}

#main-text-area h4 {
    margin: 0px 0px 0px 0px;
    color: #292f33;  
}
#main-text-area p {
    /*text-align: justify;*/
    margin: 10px 0px 10px 0px;
    color: #292f33;
}

/* infobox controll */
#info-content {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

#info-content-image {
    width: 100%;
    overflow: hidden;
}

#info-content img {
    margin-right: 10px;
    float: left;
}

#info-content p {
    margin: 0.575em 0 0.575em 0; 
    float: left;
}

#graph-container.expanded {
    z-index: 1000;
    height: 100%;
    width: 830px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    z-index: 1000;
}

#graph-container.collapsed {
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/*.graph-container-text-wrapper{
    margin: 20px 10% 20px 10%;
}*/

#graph-container.expanded p {
    font-family: 'Roboto', sans-serif;
    /*margin: 0.575em 0 0.575em 0;*/
    margin: auto;
    font-size: 1.00em;
    text-align: center;
} 

#weather-chart {
    width: 100%;
    height: 400px;
    height: calc(400px - 80px);
}

.ajax-loader {
    width: 43px;
    height: 11px;
    margin: auto;
    background-image: url("../symbols/loader.gif");
}

.highcharts-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.00em;
}

#graph-box {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#info-container.expanded {
    z-index: 9;
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    
    overflow: hidden;
    background-color: #F2F4F3;
    /* transparent? */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+14,86aecc+100 */
}

/*
#info-container.collapsed {
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
*/

#close-if.reset-button{
    position: absolute;
    right: 0px;
    width:30px; 
    height:30px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    cursor: hand;
}

#close-gr.reset-button  {
    position: absolute;
    /*left: 0px;
    width:30px; 
    height:30px;*/
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    cursor: hand;
	
    /* flip image */
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}


/**** BTN ****/
/* https://codemyui.com/minimalistic-hover-effect-button-animations/ */

button body {
    background: #f2f2f2;
}

button h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
}

button h1:before {
    position: absolute;
    content: '';
    bottom: -20px;
    width: 150px;
    height: 2px;
    background: #e74c3c;
}

button p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #676767;
}
button .buttons-coll {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

button {
    margin: 12px 15px 15px 25px;
}

.custom-btn {
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

/**** BTN No. 1 ****/

.btn-1 {
    border: 2px solid #000;
    background-color: rgba(255,255,255,0.3);
}

.btn-1:hover {
    background: #000;
    color: #fff;
}

.btn-1:active {top: 2px;}

/* mobile devices and smaller screens */

@media screen and (max-width: 1190px) {
    #graph-container.expanded {
        z-index: 1000;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
    }
}

@media screen and (max-width: 765px) {

    #main-text-area {
        min-height: 265px;
    }
    
    #info-container.expanded {
	z-index: 1000;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: blue;
        overflow: hidden;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+14,86aecc+100 */
        background-color: #F2F4F3;
       /* transparent? */
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+14,86aecc+100 */

    }
	
    #graph-container.expanded {
        z-index: 1000;
	height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
    }
}

@media screen and (max-width: 350px) {
    #main-text-area {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    
    footer {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }

    #weather-chart {
        width: 100%;
        height: 200px;
        height: calc(100% - 50px);
    }
    
}

@media screen and (max-width: 412px) {
    #data-info p {
        font-family: 'Roboto', sans-serif;
        margin: 5px 15px 5px 15px;
        font-size: 12px;
        font-weight: bold;
    }
    
    #content-select {
        position: fixed;
        top: 0;
        margin: 10px 10px 20px 10px;
        width: 100%;
        max-width: 260px;
        font-size: 11px;
    }  
}

@media screen and (max-height: 350px) and (max-width: 570px) {
    
    #weather-chart {
        width: 100%;
        height: 250px;
        /*height: calc(100% - 90px);*/
    }
}

.textLabelclass {
    font-weight: bold;
    color: black;
    /*margin-left: -18px;*/ 
    font-size: 15px;
}

.textLabelclassBlack {
    font-weight: bold;
    color: black;
    /*margin-left: -18px;*/ 
    font-size: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.textLabelclassGrey {
    font-weight: bold;
    color: rgb(130, 129, 129);
    /*margin-left: -18px;*/ 
    font-size: 11px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.textLabelclassRed {
    font-weight: bold;
    color: rgb(130, 1, 1);
    /*margin-left: -18px;*/ 
    font-size: 15px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}