html, body {
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;
}

#map {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    top: 0;
    height: 50px;
    background-color: #22333B;
}

#graph-header {
    width: 100%;
    top: 0;
    height: 50px;
}

footer {
    width: calc(100% - 10px);
    bottom: 0;
    left: 0;
    /*margin-top: 50px;*/
    margin: 20px 0px 20px 10px;
    height: 8%;
    max-height: 400px;
    min-height: 120px;
    overflow: hidden;
    border-top : 1px solid #DDD;;
}

footer p {
    font-family: 'Roboto', sans-serif;
    margin: 0.575em 0 0.575em 0;
    font-size: 1.00em;
}

footer a {
    color: #000080;
    text-decoration: none;
}

#data-info {
    position: fixed;
    top: 0;
    margin: 20px 10px 20px 10px;
    width: 230px;
    height: 89px;
    background-color: #026AA7;
}

#data-info p {
    font-family: 'Roboto', sans-serif;
    margin: 5px 5px 5px 5px;
    font-size: 14px;
    font-weight: bold;
}

#data-info-left {
    float: left;
    height: 100%;
    width: 65%;
    background-color: white;
    opacity: 0.65;
    text-align: right;
}

#data-info-right {
    float: right;
    height: 100%;
    width: 35%;
    color: white;
    text-align: left;
}

#content-select {
    position: fixed;
    height: 1px;
    max-height: 110px;
    width: 100%;
    margin: auto;
    bottom: 100px;
}


#content-select-box {
    margin: auto;
    height: 95%;
    /*max-height: 150px;*/
    max-height: 70px;
    width: 275px;
}

#content-select-box h4,
#content-select-box p{
    margin: 2px 0px 2px 0px;
}

#content-select-box-buttons{
    width: 275px;
    margin: auto;
}

.symbol {
    height: 50px;
    width: 50px;
}

#main-text-area {
    display:inline-block;
    height: 53%;
    min-height: 300px;
    font-family: 'Lato', sans-serif;
    margin: 20px 30px 20px 10px;
    font-size: 1.15em;
    /*background-color: #22333B;*/
}

#main-text-area h4 {
    margin: 0px 0px 0px 0px;
    color: #292f33;  
}
#main-text-area p {
    /*text-align: justify;*/
    margin: 10px 0px 10px 0px;
    color: #292f33;
}

/* infobox controll */
#info-content {
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

#info-content-image {
    width: 100%;
    overflow: hidden;
}

#info-content img {
    margin-right: 10px;
    float: left;
}

#info-content p {
    margin: 0.575em 0 0.575em 0; 
    float: left;
}


.btn:focus {
  outline: 0;
}

.btn {
  display:inline-block;
  margin:0px 5px 0px 5px;
  /*background-color: #ffffff;*/
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #adadad;
  font-size: 23px;
  padding: 5px 10px 2px 10px;
  border: solid #379se5 1px;
  text-decoration: none;
}

.btn:hover {
  /*background-color: #ebebeb;*/
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  border: solid #379se5 10px;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

#graph-container.expanded {
    z-index: 9;
    height: 100%;
    width: 730px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
}

#graph-container.collapsed {
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

/*.graph-container-text-wrapper{
    margin: 20px 10% 20px 10%;
}*/

#graph-container.expanded p {
    font-family: 'Roboto', sans-serif;
    /*margin: 0.575em 0 0.575em 0;*/
    margin: auto;
    font-size: 1.00em;
    text-align: center;
} 

#weather-chart {
    min-height: 350px;
    max-height: 350px;
}

#graph-box {
    margin: auto;
    width: 85%;
    /*height: 900px;*/
}

#info-container.expanded {
    z-index: 9;
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    
    overflow: hidden;
    background-color: #F2F4F3;
    /* transparent? */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+14,86aecc+100 */
}

#info-container.collapsed {
    height: 100%;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#close-if.reset-button{
    position: absolute;
    right: 0px;
    width:30px; 
    height:30px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    cursor: hand;
}

#close-gr.reset-button  {
    position: absolute;
    /*left: 0px;
    width:30px; 
    height:30px;*/
    margin: 10px 10px 10px 10px;
    cursor: pointer;
    cursor: hand;
	
    /* flip image */
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}

/* mobile devices and smaller screens */

@media screen and (max-width: 1190px) {
    #graph-container.expanded {
        z-index: 9;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
    }

@media screen and (max-width: 765px) {
    #info-container.expanded {
	z-index: 9;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: blue;
        overflow: hidden;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+14,86aecc+100 */
        background-color: #F2F4F3;
       /* transparent? */
       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4e4ef+14,86aecc+100 */

    }
	
    #graph-container.expanded {
        z-index: 9;
	height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: white;
        overflow: hidden;
    }
}

@media screen and (max-device-width: 350px) {
    #main-text-area {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    
    footer {
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
    
    #ifbox {
        padding: 10px 20px;
    }
}


@media screen and (max-device-width: 780px) {
    #content-select {
        position: fixed;
        height: 1px;
        max-height: 110px;
        width: 100%;
        margin: auto;
        bottom: 60px;
    }
    
    #content-select-box {
        margin: auto;
        height: 100%;
        max-height: 60px;
        width: 210px;
    }

    #content-select-box-buttons{
        width: 210px;
        margin: auto;
    }
  
    .symbol {
        height: 30px;
        width: 30px; 
    }
  
    #info-container.expanded {
        height: 100%;
        width: 100%;
    }

}
