.hex8a79f7 {
    font-weight: bold;
    background-color: rgba(138, 121, 247, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8a79f7 {
    font-weight: bold;
    background-color: rgba(110, 112, 231, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex6e70e7 {
    font-weight: bold;
    background-color: rgba(82, 104, 216, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hex5268d8 {
    font-weight: bold;
    background-color: rgba(82, 104, 216, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hex3760c9 {
    font-weight: bold;
    background-color: rgba(55, 96, 201, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex1b58ba {
    font-weight: bold;
    background-color: rgba(27, 88, 186, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex0050ab {
    font-weight: bold;
    background-color: rgba(0, 80, 171, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex196bbe {
    font-weight: bold;
    background-color: rgba(25, 107, 190, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex3286d1 {
    font-weight: bold;
    background-color: rgba(50, 134, 209, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex4ba1e4 {
    font-weight: bold;
    background-color: rgba(75, 161, 228, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex65dbf7 {
    font-weight: bold;
    background-color: rgba(101, 219, 247, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex77c8f8 {
    font-weight: bold;
    background-color: rgba(119, 200, 248, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8ad3f9 {
    font-weight: bold;
    background-color: rgba(138, 211, 249, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex9cdefb {
    font-weight: bold;
    background-color: rgba(156, 222, 251, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexafe9fc {
    font-weight: bold;
    background-color: rgba(175, 233, 252, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexc1f4fd {
    font-weight: bold;
    background-color: rgba(193, 244, 253, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexd4ffff {
    font-weight: bold;
    background-color: rgba(212, 255, 255, 0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

/* 0 < t < 2 <*/

.hex05b38a {
    font-weight: bold;
    background-color: rgba(5,179,138,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex02d495 {
    font-weight: bold;
    background-color: rgba(2,212,149,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex8aedbb {
    font-weight: bold;
    background-color: rgba(138,237,187,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexccffd0 {
    font-weight: bold;
    background-color: rgba(204,255,208,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexebfccf {
    font-weight: bold;
    background-color: rgba(235,252,207,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexebff7a {
    font-weight: bold;
    background-color: rgba(235,255,122,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexffea80 {
    font-weight: bold;
    background-color: rgba(255,234,128,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}

.hexf7d423 {
    font-weight: bold;
    background-color: rgba(247,212,35,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf5b400 {
    font-weight: bold;
    background-color: rgba(245,180,0,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf29500 {
    font-weight: bold;
    background-color: rgba(242,149,0,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf07400 {
    font-weight: bold;
    background-color: rgba(240,116,0,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexff5324 {
    font-weight: bold;
    background-color: rgba(255,83,36,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexf71707 {
    font-weight: bold;
    background-color: rgba(247,23,7,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexdb0a07 {
    font-weight: bold;
    background-color: rgba(219,10,7,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hexbd0404 {
    font-weight: bold;
    background-color: rgba(219,10,7,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}
.hex000000 {
    font-weight: bold;
    background-color: rgba(189,4,4,0.7);
    border: 1px solid black;
    color: black;
    padding-left: 5px; 
    padding-right: 5px; 
    font-size: 15px;
}